<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Inversiones xyz</title>
<script src="../resources/js/angular.min.js"></script>
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/freelancer.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link
	href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script src="../resources/js/angular.min.js"></script>
<script src="../resources/js/angular-route.js"></script>
<script src="../resources/js/angular-cookies.js"></script>
<script src="../resources/js/controlador.js"></script>

</head>
<body id="page-top" class="index" ng-app="proyecto">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#page-top">Inversiones xyz</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href=""></a></li>
					<li class="page-scroll"><a href="" data-toggle="modal"
						data-target="#myModal">Empleado</a></li>




					<li class="page-scroll"><a href="" data-toggle="modal"
						data-target="#loginUsuario">Usuario</a></li>


					<!--  a href="seleccionarpqr.html" target="_self"><input type="button"class="botonimagen" value="ESTUDIANTE UDEA"
 style="background-image:url(imagenes/interno.png)" /></a-->


					<li class="page-scroll"><a href="#contact">Contactenos</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container" id="main">
			<div class="row">
				<div class="col-lg-12">
					<img class="img-responsive" src="img/vector2.jpg" alt=""
						style="width: 300px; heigth: 300px; border-radius: 50%">
					<div class="intro-text">
						<span class="name">Ventas de electrodomesticos</span>
						<hr class="star-light">

					</div>
				</div>
			</div>
		</div>


		<div class="container" id="login" style="display: none">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
					<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
					<form name="sentMessage" id="contactForm" novalidate>
						<div class="row control-group">
							<div>
								<label>Usuario</label> <input type="text" class="form-control"
									placeholder="usuario" id="user" required
									data-validation-required-message="Por favor ingrese su usuario.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row control-group">
							<div>
								<label>Contraseña</label> <input type="password"
									class="form-control" placeholder="contraseña" id="pass"
									required
									data-validation-required-message="Por favor ingrese su contraseña.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-12">
								<button type="submit" class="btn btn-success btn-lg">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>

	<!-- Footer -->
	<section id="contact" class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Ubicación</h3>
						<p>UdeA</p>
					</div>

					<div class="footer-col col-md-4">
						<h3>Acerca de nosotros</h3>
						<p>Somos una compañia comprometida con los usuarios,
							realizamos ventas de electrodomesticos y muebles al por mayor y
							al detal</p>
					</div>
				</div>
			</div>
		</div>
		</footer>



		<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
		<div class="scroll-top page-scroll visible-xs visible-sm">
			<a class="btn btn-primary" href="#page-top"> <i
				class="fa fa-chevron-up"></i>
			</a>
		</div>

		<!-- Login-->
		<div ng-controller="login">
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Login Empleado</h4>
						</div>
						<div class="modal-body">
							<form name="sentMessage" id="contactForm" novalidate
								ng-submit="validarEmpleado()">
								<div class="row control-group">
									<div>
										<label>Usuario</label> <input ng-model="cedula" type="text"
											class="form-control" placeholder="usuario" id="user" required
											data-validation-required-message="Por favor ingrese su usuario.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="row control-group">
									<div>
										<label>Contraseña</label> <input ng-model="pass"
											type="password" class="form-control" placeholder="contraseña"
											id="pass" required
											data-validation-required-message="Por favor ingrese su contraseña.">
										<p class="help-block text-danger"></p>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-primary">Aceptar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Login y registro de usuarios -->
		<div class="modal fade" id="loginUsuario" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Login Empleado</h4>
					</div>
					<div class="modal-body">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#home">Login</a></li>
							<li><a data-toggle="tab" href="#menu1">Registro</a></li>
						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<div ng-controller="login">
									<form name="sentMessage" id="contactForm" novalidate
										ng-submit="validarUsuario()">
										<div class="row control-group">
											<div>
												<label>Usuario</label> <input ng-model="cedulaU" type="text"
													class="form-control" placeholder="usuario" id="user"
													required
													data-validation-required-message="Por favor ingrese su usuario.">
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="row control-group">
											<div>
												<label>Contraseña</label> <input ng-model="passU"
													type="password" class="form-control"
													placeholder="contraseña" id="pass" required
													data-validation-required-message="Por favor ingrese su contraseña.">
												<p class="help-block text-danger"></p>
											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-primary">Aceptar</button>
										</div>
									</form>
								</div>

							</div>
							<div id="menu1" class="tab-pane fade">
								<div ng-controller="registroUsuarios">
									<form name="sentMessage" id="contactForm" novalidate
										ng-submit="registrarUsuario()">
										<div class="row control-group">
											<div>
												<label>Cedula</label> <input ng-model="cedula" type="text"
													class="form-control" placeholder="usuario" id="user"
													required
													data-validation-required-message="Por favor ingrese su usuario.">
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="row control-group">
											<div>
												<label>Contraseña</label> <input ng-model="pass"
													type="password" class="form-control"
													placeholder="contraseña" id="pass" required
													data-validation-required-message="Por favor ingrese su contraseña.">
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="row control-group">
											<div>
												<input ng-model="pass2"
													type="password" class="form-control"
													placeholder="Ingrese contraseña de nuevo" id="pass" required
													data-validation-required-message="Por favor ingrese su contraseña.">
												<p class="help-block text-danger"></p>
											</div>
										</div>
										
										<div class="row control-group">
											<div>
												<label>Nombre</label> <input ng-model="nombre"
													type="text" class="form-control"
													placeholder="Nombre" id="pass" required
													data-validation-required-message="Por favor ingrese su nombre">
												<p class="help-block text-danger"></p>
											</div>
										</div>
										
										<div class="row control-group">
											<div>
												<label>Email</label> <input ng-model="email"
													type="text" class="form-control"
													placeholder="Email" id="pass" required
													data-validation-required-message="Por favor ingrese su email">
												<p class="help-block text-danger"></p>
											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-primary">Aceptar</button>
										</div>
										
										<ul>
											<li ng-repeat="error in errorees">
											<div data-validation-required-message={{error.error}}></div>
										</ul>
									</form>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- jQuery -->
		<script src="js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpAnimatedHeader.js"></script>

		<!-- Contact Form JavaScript -->
		<script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="js/freelancer.js"></script>
</body>
</html>
